.sidenav {
    height: 100%;
    width: 175px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
  }
  h1, h2, h3, h4, h5{
    font-family: Helvetica;
    color:rgb(243, 179, 193);
  }
  #loading {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: rgba(251, 183, 198, 1);
    background-image: url("https://i.postimg.cc/d0J0T4NH/ezgif-2-6d0b072c3d3f-unscreen.gif");
    background-repeat: no-repeat;
    background-position: center;
  }
  .faucet {
    margin-left: 175px; /* Same as the width of the sidenav */
    padding: 0px 10px;
    background-color:black;
    width:1225px;
    z-index: 1;
    position:fixed;
    top:0;
    left:0;
    overflow-x:hidden;
    padding-top:20px;
    height:100%;
  }
  .btn {
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 21px;
    cursor: pointer;
    display: inline-block;
    font-family: Helvetica;
  } 

    /* On mouse-over */
    .btn:hover {background:rgb(0, 0, 0);}
  
    .green {color: green;}
    .blue {color: dodgerblue;}
    .orange {color: #f4511e;}
    .red {color: red;}
    .pink {color: rgba(251, 183, 198, 1);}
    .black {color: black;}
    .white {color: rgb(255, 255, 255);}

    .btnTransparent {
        border: none;
        background-color: inherit;
        padding: 14px 28px;
        font-size: 21px;
        cursor: pointer;
        display: inline-block;
        font-family: Helvetica;
      }
        /* On mouse-over */
        .btnTransparent:hover {background:rgba(0, 0, 0, 0);}
      
        .green {color: green;}
        .blue {color: dodgerblue;}
        .orange {color: #f4511e;}
        .red {color: red;}
        .pink {color: rgba(251, 183, 198, 1);}
        .black {color: black;}
        .white {color: rgb(255, 255, 255);}


        