.sidenav {
    height: 100%;
    width: 12.9%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
  }
  h1, h2, h3, h4, h5{
    font-family: Helvetica;
    color:rgb(243, 179, 193);
  }
  #loading {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: rgba(251, 183, 198, 1);
    background-image: url("https://i.postimg.cc/d0J0T4NH/ezgif-2-6d0b072c3d3f-unscreen.gif");
    background-repeat: no-repeat;
    background-position: center;
  }
  .gambling {
    margin-left: 175px; /* Same as the width of the sidenav */
    padding: 0px 10px;
    background-color:rgb(48, 45, 45);
    width:87.3%;
    z-index: 1;
    position:fixed;
    top:0;
    left:0;
    overflow-x:hidden;
    padding-top:20px;
    height:100%;
  }
  .topnav {
    overflow: hidden;
    width:100%;
    background-color: rgb(20, 20, 20);
    margin-left:-13px;
    margin-top:-25px;
  }
  /* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 3px 0.2px;
  text-decoration: none;
  font-size: 17px;
}
.topnav1 {
  overflow: hidden;
  width:100%;
  margin-left:-13px;
  margin-top:-25px;
}
/* Style the links inside the navigation bar */
.topnav1 a {
float: left;
padding: 13px 0.2px;
width:300px;
text-decoration: none;
}
.BetPanel{
  background-color:black;
  width:80%;
  height:70%;
  margin: auto;
  margin-top:5%;
  border-radius:10px;
}


  
  .receiverAddress{
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size:24px;
    color:rgba(251, 183, 198, 1);
    border-radius: 12px;
    margin-left:224px;
  }
  .button1 {
    background-color: #4c93af; 
    border: none;
    color: white;
    padding: 15px 32px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 35px;
  }
.button1:hover {
    background-color: #387086;
  }
  .receiverAddress[type=text]:focus {
    border: 3px solid rgba(251, 183, 198, 1);
    border-radius: 12px;
  }
  input[type=number], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color:rgb(48, 45, 45);
    color:rgba(251, 183, 198, 1);
    font-family: Helvetica;
    font-size:19px;
  }
  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color:rgb(48, 45, 45);
    color:rgba(251, 183, 198, 1);
    font-family: Helvetica;
    font-size:19px;
  }
  .button1 {
    background-color: #488ca700; /* Green */
    border: none;
    color: rgb(126, 115, 115);
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 1px;
    border: 2px solid rgb(75, 71, 71);
    margin-left:-5;
  }
.button1:hover {
    background-color: rgb(94, 85, 85);
  }
  .btn {
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 21px;
    cursor: pointer;
    display: inline-block;
    font-family: Helvetica;
  } 
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 420px;
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    overflow-x:hidden;
  }
  .modal-content {
    background-color: black;
    margin: auto;
    height: 420px;
    padding: 20px;
    border: 1px solid #888;
    width: 690px;
    overflow-x:hidden;
  }  
  

    /* On mouse-over */
    .btn:hover {background:rgb(0, 0, 0);}
  
    .green {color: green;}
    .blue {color: dodgerblue;}
    .orange {color: #f4511e;}
    .red {color: red;}
    .pink {color: rgba(251, 183, 198, 1);}
    .black {color: black;}
    .white {color: rgb(255, 255, 255);}

    .btnTransparent {
        border: none;
        background-color: inherit;
        padding: 14px 28px;
        font-size: 21px;
        cursor: pointer;
        display: inline-block;
        font-family: Helvetica;
      }
        /* On mouse-over */
        .btnTransparent:hover {background:rgba(0, 0, 0, 0);}
      
        .green {color: green;}
        .blue {color: dodgerblue;}
        .orange {color: #f4511e;}
        .red {color: red;}
        .pink {color: rgba(251, 183, 198, 1);}
        .black {color: black;}
        .white {color: rgb(255, 255, 255);}


  